/* CSS cho nút "Update" và "Delete" */
.toolsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .updateButton {
    background-color: white;
    color: #2196F3;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .updateButton:hover {
    background-color: rgb(11, 125, 218, 0.5);
    color: white;
  }
  
  .deleteButton {
    background-color: white;
    color: #2196F3;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: rgb(11, 125, 218, 0.5);
    color: white;
  }
  